body {
  padding-top: 60px;
  margin: auto;
  width: 90%;
  font-family: "Public Sans", Helvetica, sans-serif;
}

.headline a:hover {
  text-decoration: underline;
}

#photo-gallery {
  column-count: 3;
  column-gap: 10px;
}

#photo-gallery img {
  display: inline-block;
  margin: 0 0 10px;
  width: 100%;
}

@media (max-width: 767px) {
  #photo-gallery {
    column-count: 1;
  }
}
