@import url(https://fonts.googleapis.com/css?family=Public+Sans:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i);

body {
  padding-top: 60px;
  margin: auto;
  width: 50%;
  font-family: "Public Sans", Helvetica, sans-serif;
}

.light-theme {
  background-color: #f7fbfc;
  color: black;
}

.section-header {
  font-size: 1.25rem;
  line-height: 0.9;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.content {
  display: flex;
}

.content-img {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding-right: 15px;
  padding-left: 15px;
}

.content-description {
  max-width: 66.67%;
  padding-right: 15px;
  padding-left: 15px;
}

.body-link {
  text-decoration: underline;
}

.image {
  margin-bottom: 1rem;
  width: 100%;
}

.super-font {
  font-family: "Public Sans", Helvetica, sans-serif;
}
.sub-font {
  font-family: "Merriweather", Helvetica, sans-serif;
}

.headline {
  font-size: 3.5rem;
  line-height: 0.9;
  margin-bottom: 0.25rem;
  margin-top: 1rem;
  font-weight: 700;
}

.body-text {
  font-family: "Merriweather", Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

hr {
  margin-bottom: 1.5rem;
}

.content-header {
  font-size: 1.4rem;
  line-height: 0.9;
  margin-block: 0.3rem;
  font-weight: 700;
}
.content-body {
  font-family: "Merriweather", Helvetica, sans-serif;
  font-size: 0.8rem;
}

.handle {
  font-size: 1.25rem;
  line-height: 0.75;
  margin-top: 1.75rem;
  font-weight: 400;
  color: black;
  text-decoration: none;
}

.handle:hover {
  text-decoration: underline;
}

.section {
  font-size: 1.25rem;
  line-height: 0.9;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

a {
  color: black;
  text-decoration: none;
}

a:hover .content-header {
  text-decoration: underline;
}

.footer {
  font-size: 1rem;
  line-height: 0.75;
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-weight: 400;
}

/* not currently used */

.tag-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 10px;
}

.tag-container:hover {
  text-decoration: none;
}

.tag {
  padding: 2px 5px 2px 5px; /* Making space around letters */
  border-radius: 5px;
  margin-left: -2px; /* offset padding */
  color: white;
  font-family: "Merriweather", Helvetica, sans-serif;
  font-size: 1rem;
}

.tag.d3 {
  background-color: forestgreen;
}

.tag.js {
  background-color: maroon;
}

.tag.html {
  background-color: peru;
}

.tag.r {
  background-color: steelblue;
}

.tag.py {
  background-color: burlywood;
}

.tag.hc {
  background-color: grey;
}

.divider {
  opacity: 0;
}

@media (min-width: 320px) and (max-width: 999px) {
  body {
    padding-top: 60px;
    margin: auto;
    width: 90%;
    font-family: "Public Sans", Helvetica, sans-serif;
  }

  .content {
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 2%;
  }
  .content-description {
    max-width: 100%;
    padding-inline: 2%;
  }

  .content-img {
    flex: 0 0 100%;
    max-width: 90%;
    padding-inline: 2%;
    margin: auto;
  }

  .content-header {
    font-size: 1.8em;
  }

  .content:hover {
    text-decoration: none;
  }

  .divider {
    width: 50%;
    opacity: 1;
  }
}
