@import url(https://fonts.googleapis.com/css?family=Public+Sans:400,400i,700,700i);

:root {
  --textWidth: 50vw;
  --mobileWidth: 90vw;
  --maxWidth: 900px;
  --hightlightColor: #800000;
  --backgroundColor: #dfe3ea;
}

body {
  font-family: "Public Sans", Helvetica, sans-serif;
  margin: 0;
  background: var(--backgroundColor);
}

#ai-gov-logo {
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

#use-case-button {
  width: var(--textWidth);
}

a {
  color: black;
  font-weight: 600;
  text-decoration: underline;
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: white;
  border-bottom: #01397c 3px solid;
}

.title-container {
  width: var(--textWidth);
  max-width: var(--maxWidth);
  margin: auto;
}

.title-info h1 {
  font-size: 4em;
  margin: 40px;
  text-align: center;
}

.title-info h4 {
  font-size: 2em;
  margin: 20px;
  text-align: center;
}

.byline {
  font-size: 1.2em;
  text-align: center;
  margin: 40px;
}

.byline p {
  margin: 5px;
}

.body-text {
  width: var(--textWidth);
  max-width: var(--maxWidth);
  margin: auto;
  line-height: 1.6;
  font: 1.25em/1.6 "Public Sans", Helvetica, sans-serif;
  /*
  text-align: justify;
  word-spacing: -1px;
  */
}

.container {
  display: flex;
}

.scroller-container {
  flex: 1;
}

.highlight {
  background-color: var(--hightlightColor);
  color: white;
  border-radius: 5px;
  padding: 1.5px;
  font-weight: 600;
}

#tableLink {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

#tableLink:hover {
  text-decoration: underline;
}

#dep-select {
  font-family: "Public Sans", Helvetica, sans-serif;
  background-color: var(--offwhiteColor);
  border: "black" 1px solid;
  border-radius: 5px;
  margin: 10px;
  margin-left: 0;
  width: 100%;
  padding: 5px;
  font-style: italic;
  font-size: 1em;
}

#table {
  width: 95%;
  margin: auto;
  margin-bottom: 5%; /* for the search bar */
  height: 600px;
}

.ag-theme-quartz {
  --ag-font-size: 0.9em;
  --ag-line-height: 25px;
}

.ag-theme-quartz .ag-header-cell-text {
  font-weight: bold;
}

.ag-row .ag-cell {
  display: flex;
  align-items: center;
}

#filter-text-box {
  width: 30%;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fafafa;
  height: 30px;
  font-weight: bold;
}

.space {
  background-color: green;
  height: 1000px;
}

.scroller {
  position: relative;
  padding: 10px 20px;
  width: 80%;
  margin-top: 90vh;
  margin-bottom: 20vh;
  text-align: justify;
  word-spacing: -2px;
  margin-inline: auto;
  line-height: 1.5;
  font-size: 1.3em;
  z-index: 1;
}

.tooltip {
  position: absolute;
  background: #fff;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 15px 10px;
  position: relative;
  width: 80%;
  flex-wrap: wrap;
}

.tooltip-content {
  padding: 2px;
}

.tooltip-info {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  gap: 5px;
}

.tooltip-info > * {
  padding: 2px;
}

#sIntro {
  margin-top: 70vh;
}

#sClosing {
  margin-bottom: 40vh;
}

#sFake {
  background-color: var(--backgroundColor);
}

.graphic-container {
  position: sticky;
  top: 0vh;
  width: 100%;
  opacity: 0;
  flex: 1;
  align-self: flex-start;
  z-index: 10;
}

.label-text {
  font-size: 1em;
  font-weight: bold;
}

.outro p {
  padding-left: 20px;
}

.ex {
  background-color: #515151;
}

.doe {
  background-color: #800000;
}

.hhs {
  background-color: #993404;
}

.doc {
  background-color: #d95f0e;
}

.hs {
  background-color: #fe9929;
}

.va {
  background-color: #fed98e;
  color: black;
}
.od {
  background-color: grey;
}

.non {
  background-color: grey;
}

svg {
  margin-left: 10%;
}

/* mobile CSS */
@media (min-width: 320px) and (max-width: 800px) {
  html {
    max-width: 100%;
  }

  body {
    width: 100%;
    position: relative;
  }

  .title-container {
    width: var(--mobileWidth);
  }

  .title-info h1 {
    margin: 5%;
    font-size: 2em;
  }

  .title-info h4 {
    font-size: 1.2em;
  }
  .byline p {
    font-size: 1em;
  }

  #use-case-button {
    width: 90%;
    margin: auto;
  }

  .body-text {
    width: var(--mobileWidth);
    margin: 5%;
  }

  .container {
    display: block;
  }

  .graphic-container {
    top: 10%;
    z-index: 1;
  }
  .scroller {
    width: 65vw;
    font-size: 0.95em;
    background-color: white;
    border-radius: 5px;
    margin-inline: auto;
    text-align: left;
    word-spacing: normal;
    z-index: 5;
    line-height: 1.2;
  }

  .highlight {
    padding-block: 0;
  }

  svg {
    width: 100%;
    margin-left: 0;
  }

  .label-text {
    font-size: 0.8em;
  }

  .tooltip {
    max-width: 80%;
    min-width: 80%;
  }
  .tooltip-content {
    font-size: 0.8em;
  }
}
