@import url(https://fonts.googleapis.com/css?family=Public+Sans:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i);

:root {
  --primaryColor: #800000;
  --offwhiteColor: #ebe9e4;
}

body {
  padding-top: 60px;
  font-family: "Public Sans", Helvetica, sans-serif;
  margin-bottom: 50px;
}

.body-link {
  text-decoration: underline;
}

.headline {
  font-size: 3.5rem;
  line-height: 0.9;
  margin-bottom: 0.25rem;
  margin-top: 1rem;
  font-weight: 700;
}

.header-container {
  width: 50%;
  margin: auto;
}

.body-text {
  font-family: "Merriweather", Helvetica, sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.light-theme {
  background-color: #f7fbfc;
  color: black;
}

.section-header {
  width: 70%;
  margin: auto;
}

.section-header-text {
  font-size: 1.25rem;
  line-height: 0.9;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.super-font {
  font-family: "Public Sans", Helvetica, sans-serif;
}
.sub-font {
  font-family: "Merriweather", Helvetica, sans-serif;
}

.articles-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 90%;
  justify-content: space-around;
}

.article.grid {
  text-align: left;
  width: clamp(30%, 30%, 40%);
  min-width: 200px;
  margin: 10px;
  padding: 8px;
  border: 2px solid;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  font-size: 0.6em;
}

.article.grid.property {
  border: 2px solid var(--primaryColor);
}
.property:hover {
  background-color: var(--primaryColor);
}

.article.grid.bus {
  border: 2px solid #0a3e7e;
}
.bus:hover {
  background-color: #0a3e7e;
}

.article.grid.bus {
  border: 2px solid #0a3e7e;
}
.bus:hover {
  background-color: #0a3e7e;
}

.article.grid.ai {
  border: 2px solid #013174;
}
.ai:hover {
  background-color: #013174;
}
.article.grid.voting {
  border: 2px solid #782123;
}
.voting:hover {
  background-color: #782123;
}

.article.grid.voting {
  border: 2px solid #782123;
}
.voting:hover {
  background-color: #782123;
}

.article.grid.donations {
  border: 2px solid #2c5e80;
}
.donations:hover {
  background-color: #2c5e80;
}

.article.grid.cds {
  border: 2px solid #c26724;
}
.cds:hover {
  background-color: #c26724;
}

.article.grid.reading {
  border: 2px solid #2a8062;
}
.reading:hover {
  background-color: #2a8062;
}

.article.grid.xword {
  border: 2px solid #062b5c;
}
.xword:hover {
  background-color: #062b5c;
}

.article.grid.stopwatch {
  border: 2px solid #800001;
}
.stopwatch:hover {
  background-color: #800001;
}

.article.grid.content {
  border: 2px solid #4682b4;
}
.content:hover {
  background-color: #4682b4;
}

.article.grid img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.article:hover {
  color: white;
}

.article-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.article-container.grid {
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
}

.info-container.grid {
  margin-top: 5px;
  flex: 60%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

#article-title {
  font-size: clamp(14px, 2vw, 20px);
  font-weight: 550;
}

#article-pub {
  font-size: 12px;
}

#article-descrip {
  font-size: clamp(12px, 1.2vw, 14px);
}

.meta-container.grid {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  text-align: right;
  gap: 20px;
}

#tag-container-grid {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 5px;
  text-align: left;
}

#article-type {
  font-size: clamp(10px, 1vw, 15px);
}

.tag {
  padding: 2px 5px 2px 5px; /* Making space around letters */
  border-radius: 5px;
  margin-left: -2px; /* offset padding */
  color: white;
  font-size: clamp(10px, 0.9vw, 15px);
  min-width: 25px;
}

hr {
  margin-bottom: 1.5rem;
}

/* .content-header {
  font-size: 1.4rem;
  line-height: 1;
  margin-block: 0.3rem;
  font-weight: 700;
}
.content-body {
  font-family: "Merriweather", Helvetica, sans-serif;
  font-size: 0.8rem;
} */

.handle {
  font-size: 1.25rem;
  line-height: 0.75;
  margin-top: 1.75rem;
  font-weight: 400;
  color: black;
  text-decoration: none;
}

.handle:hover {
  text-decoration: underline;
}

.section {
  font-size: 1.25rem;
  line-height: 0.9;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

a {
  color: black;
  text-decoration: none;
}

a:hover .content-header {
  text-decoration: underline;
}

.footer {
  font-size: 1rem;
  line-height: 0.75;
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-weight: 400;
}

.tag.interactive {
  background-color: forestgreen;
}

.tag.data-j {
  background-color: darkgoldenrod;
}

.tag.data {
  background-color: maroon;
}

.tag.python {
  background-color: peru;
}

.tag.mapping {
  background-color: steelblue;
}

.tag.interactive {
  background-color: rgb(91, 41, 104);
}

.tag.web-app {
  background-color: darkolivegreen;
}

.tag.d3 {
  background-color: darkslategray;
}

.tag.hc {
  background-color: grey;
}

.divider {
  opacity: 0;
}

.photos-link:hover {
  text-decoration: underline;
}

.photos-link {
  display: inline;
}

@media (min-width: 320px) and (max-width: 999px) {
  body {
    padding-top: 60px;
    margin: auto;
    width: 90%;
    font-family: "Public Sans", Helvetica, sans-serif;
    margin-bottom: 50px;
  }

  .content {
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 2%;
  }
  .content-description {
    max-width: 100%;
    padding-inline: 2%;
  }

  .content-img {
    flex: 0 0 100%;
    max-width: 90%;
    padding-inline: 2%;
    margin: auto;
  }

  .content-header {
    font-size: 1.8em;
  }

  .content:hover {
    text-decoration: none;
  }

  .divider {
    width: 50%;
    opacity: 1;
  }
}
