@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Arimo', sans-serif;
	letter-spacing: -0.02em;
	font-weight: 400;
	font-size: 1.2rem;
	min-height: 100vh;
	box-sizing: border-box;
	background-color: #fff;
	color: rgba(0, 0, 0, 0.7);
	background-image:
		linear-gradient(rgba(0, 0, 0, 0.04) 1px, transparent 1px),
		linear-gradient(90deg, rgba(0, 0, 0, 0.04) 1px, transparent 1px);
	background-size: 2vw 2vw;
}

a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.7);
}

a:hover {
	text-decoration: underline;
}

hr {
	color: rgb(0, 0, 0, 0.7);
}

.container {
	margin-left: 6.5vw;
	margin-right: 6.5vw;
}
